In [1]:
import sqlite3

connection = sqlite3.connect("quiz.sqlite")

In [2]:
cursor = connection.cursor()
cursor.execute("CREATE TABLE users (name TEXT, pass TEXT, player_type TEXT, last_score INTEGER, best_score INTEGER)")

cursor.execute("INSERT INTO users VALUES ('pranab', '1234', 'ADMIN', 0, 0)")
cursor.execute("INSERT INTO users VALUES ('subhan', '1234', 'PLAYER', 0, 0)")
connection.commit()

In [3]:
question_prompts=["""Q.1 The 'Dalong Village' covering an area of 11.35 sq. km. has recently (May 2017) been declared as Biodiversity Heritage Site under Section 37(1) of Biological Diversity Act, 2002. The village is situated in the Indian State of -
 (A) Manipur
 (B) Madhya Pradesh
 (C) Mizoram
 (D) Maharashtra """,

"""
Q.2 ........... is the first woman to head a public sector bank.  
 (A) Arundhati Bhattacharya
 (B) Shikha Sharma
 (C) Chanda Kochar
 (D) Usha Ananthasubramanyan""",
"""

Q.3 World Tourism Day is celebrated on-
 (A) September 12
 (B) September 25
 (C) September 27
 (D) September 29""",
""" 
Q.4 Where is Bose Institute ?
 (A) Dispur
 (B) Kolkata
 (C) Mumbai
 (D) New Delhi""",
 """
 Q.5 When is the International Yoga Day celebrated ?
 (A) June 21
 (B) March 21
 (C) April 22
 (D) May 31""",
 """
 Q.6 The two-day festival 'North East Calling', is organized by which ministry ?
 (A) Ministry of Development of North Eastern Region (DoNER)
 (B) Ministry of External Affairs
 (C) Ministry of Home Affairs
 (D) Ministry of Defence""",
 """
 Q.7 When Government of India confers the "Highest Civilian Honor for Women" by presenting "Nari Shakti Puraskars" ?
 (A) June 5
 (B) 8th March, every year, International Women's Day
 (C) June 21
 (D) April 7""",
 """
 Q.8 The motif of 'Hampi with Chariot' is printed on the reverse of which currency note ?
 (A) One Rupee Note
 (B) Rs. 500 note
 (C) Rs. 50 note
 (D) Rs. 1000 note""",
 """
 Q.9 Election Commission of India has decided that the voter's identification shall be mandatory in the elections at the time of poll. Which of the following shall be the main document of identification of a voter ?
 (A) Voter Slip
 (B) Electoral Photo Identity Cards (EPIC)
 (C) Indelible ink mark
 (D) Electoral rolls""",
 """
 Q.10 'Line of Blood' is a book written by whom?
 (A) Bairaj Khanna
 (B) Ursula Vernon
 (C) Amal EI-Mohtar
 (D) Diksha Basu"""
]

answers = ['a']*10

In [38]:
# cursor = connection.cursor()
# rows = cursor.execute("SELECT * FROM users").fetchall()
# rows


# print([i[0] for i in rows])

In [39]:
# connection.close()

In [40]:
# dict([(45, 78), (89, 90)])

In [12]:
# target_fish_name = "Jamie"
# rows = cursor.execute(
#     "SELECT name, species, tank_number FROM fish WHERE name = ?",
#     (target_fish_name,),
# ).fetchall()
# print(rows)

In [4]:
cursor = connection.cursor()
cursor.execute("CREATE TABLE questions (question TEXT, answer TEXT)")

In [5]:
for i, j in zip(question_prompts, answers):
    cursor.execute("INSERT INTO questions VALUES (?, ?)", (i, j))
connection.commit()

In [41]:
# rows = cursor.execute("SELECT * FROM questions").fetchall()
# rows

In [6]:
connection.close()

In [42]:
# rows = cursor.execute("SELECT * FROM users where name = ?", ('subhan',)).fetchall()
# rows

In [43]:
# cursor.execute("UPDATE users SET last_score = ?, best_score = ? where name = ?", (10, 10, 'subhan',))

In [44]:
# rows = cursor.execute("SELECT * FROM users where name = ?", ('subhan',)).fetchall()
# rows